<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin</title>
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
            <a class="sidebar-brand" asp-action="Users" asp-controller="Admin">
                <div class="sidebar-brand-text">Admin Panel</div>
            </a>
            <li class="nav-item"><a class="nav-link" asp-action="Users"><i class="fas fa-users"></i> Người dùng</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="Books"><i class="fas fa-book"></i> Sách</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="Categories"><i class="fas fa-list"></i> Danh mục</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="Categories"><i class="fas fa-list"></i> Đánh giá</a></li>
            <li class="nav-item"><a class="nav-link" asp-action="Categories"><i class="fas fa-list"></i> Thống kê doanh thu</a></li>
        </ul>
        <div id="content-wrapper">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow">
                <a class="nav-link" asp-controller="Home" asp-action="Index">🔙 Trang người dùng</a>
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
