@model TienThoBookStore.WebApp.Models.LoginViewModel

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Đăng nhập</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Account" asp-action="Login" method="post" id="loginForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="EmailOrUserName" class="form-label"></label>
                        <input asp-for="EmailOrUserName" class="form-control" />
                        <span asp-validation-for="EmailOrUserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="loginForm" class="btn btn-primary">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>
