@model TienThoBookStore.WebApp.Models.LoginViewModel

<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        @* chèn nội dung inner *@
        @await Html.PartialAsync("_LoginModalContent", Model)
    </div>
</div>
