@model TienThoBookStore.WebApp.Models.RegisterViewModel

<div class="modal fade" id="registerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        @await Html.PartialAsync("_RegisterModalContent", Model)
    </div>
</div>
