{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
 "Smtp": {
    "Host": "smtp.gmail.com",
    "Port": "587",
    "User": "<your-smtp-user>",
    "Pass": "<your-smtp-password>",
    "From": "<your-from-address>"
  },
  "ConnectionStrings": {
    "TienThoBookStoreConnection": "<your-connection-string>"
  }
 }
